img{
    height: 120px;
    width: 120px;
    margin-left: 180px;
    margin-right: 50px;
}

table {
    counter-reset: section;
  }
  
  .count:before {
    counter-increment: section;
    content: counter(section);
  }

.cardTemp{
      background-color: #FF5722;
      box-shadow: rgb(153 153 153) 2px 2px 2px;
      color: #ffBDA8;
}

.cardHumid{
    background-color: #5933e2;
    box-shadow: rgb(153 153 153) 2px 2px 2px;
    color: #a8a9ff;
}

.cardClothesStatus{
    background-color: #E7AA06;
    box-shadow: rgb(153 153 153) 2px 2px 2px;
    color: #f1d9b9;
}

.cardRainStatus{
    background-color: #41a329;
    box-shadow: rgb(153 153 153) 2px 2px 2px;
    color: #97d8a0;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #22aa29;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #1ca11c;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .switchBtn{
      display: flex;
     align-items: center;
     justify-content: flex-start;
    }


    
/* style for font */
h5{
    font-size:30px;
}

p{
    font-size:30px;
    color: #e2e5ff;
}

h3{
    font-size: 15px;
    color: #ccc;
}